<!-- <IndexSnippet> -->
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">h1</h1>
    <p class="lead">paragraph</p>

    <table border = "2" cellpadding = "10">
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thurdsay</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
            
        <tr>

        </tr>
    </table>

  </div>
<!-- </IndexSnippet> -->